<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rubicom.facelinker" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/title_activity_main_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignupFirstActivity"
            android:label="@string/title_activity_signup_first"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignupSecondActivity"
            android:label="@string/title_activity_signup_second"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AlbumActivity"
            android:label="@string/title_activity_album"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".CropActivity"
            android:label="@string/title_activity_crop" >
        </activity>
    </application>

</manifest>
